{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'display/style.css' %}">
		<script type="text/javascript">
			function getElapsedTimeAsString(startTimeString) {
			  const startTime = Date.parse(startTimeString);
			  const elapsedMilliseconds = Date.now() - startTime;
			  const fullyElapsedHours = Math.floor(elapsedMilliseconds / (1000*60*60));
			  const fullyElapsedMinutes = Math.floor(elapsedMilliseconds / (1000*60));
			  const elapsedMinutes = fullyElapsedMinutes - fullyElapsedHours * 60;
			  const fullyElapsedSeconds = Math.floor(elapsedMilliseconds / 1000);
			  const elapsedSeconds = fullyElapsedSeconds - fullyElapsedMinutes * 60;
			
			  return "" + fullyElapsedHours + ":" + elapsedMinutes + ":" + elapsedSeconds;
			}
			function keepElapsedTimeUpdated(elementId, startTimeString) {
			  update = function() {
			    element = document.getElementById(elementId);
			    element.innerHTML = getElapsedTimeAsString(startTimeString);
			  };
			  update();
			  window.setInterval(update, 1000);
			}
		</script>
		<meta http-equiv="refresh" content="1">
		<title>Task dashboard</title>
	</head>
	<body>
		<p class="title">Current tasks</p>
		<div class="record-container">
			{% for record in records %}
			<div class="record-row">
				<div class="record-row-top">
					<div class="record-cell activity-cell">
						{{ record.activity.name }}
						({{ record.project.name }})
					</div>
					<div class="record-cell time-cell"
					     id="record_{{ record.id }}_elapsedTime">	
						<script type="text/javascript">
							initialHtml = getElapsedTimeAsString("{{ recod.begin }}");
							document.write(initialHtml);
						</script>
					</div>
				</div>
				<div class="record-row-bottom">
					{{ record.description }}
				</div>
				<script type="text/javascript">
					elementId = "record_{{ record.id }}_elapsedTime";
					keepElapsedTimeUpdated(elementId, "{{ record.begin }}");
				</script>
			</div>
			{% endfor %}
		</div>
		<p class="counter">Currently {{ records|length }} tasks</p>
	</body>
</html>
