body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.title {
    font-size: 64pt;
}

.record-container {
    margin: 20px;
}

.record-row {
    width: 100%;
    min-height: 30px;
    margin-top: 1px;
    margin-bottom: 20px;
}
.record-row.odd {
    background-color: #c0c0c0;
}

.record-row.even {
    background-color: #ffffff;
}

.record-row-top {
    font-size: 54pt;
    font-weight: bold;
}

.record-row-bottom {
    font-style: italic;
    font-size: 40pt;
}

.record-cell {
    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
}

.record-cell *{
}

.activity-cell {
    width: 1500px;
}

.time-cell {
    width: 300px;
}

.counter {
    font-weight: bold;
    font-size: 40pt
}
